.foodcard
{
    /* border: 1px solid black; */
    border-radius: 5px;
    width: 300px;
    height:     260px;
    padding: 10px 20px;
    margin: 10px;
    box-shadow: 0px 0px 0px 1px rgb(46, 45, 45);
    position: relative;
}
.foodcard:hover
{
    box-shadow: 0px 0px 5px 1px rgb(68, 136, 208);
    transition: box-shadow ease-in;
    transform: rotate(-2deg);
    cursor: pointer;
    
}
.foodcard-title
{
    font-size: 23px;
    text-align: center;
    margin: 0px;

}
.food-card-icon{
    position:absolute;
    top: 0px;
    right: 1px;
    height:30px;
    padding: 2px;

}
.dis{
    margin: 0px;
    text-align: start;
}
.food-item-img
{

 height:160px ;
 width: 90%;
 object-fit: cover;
margin-top: 10px;
border-radius: 10px;
display: block;
margin-left: auto;
margin-right: auto;

}