.foodcard
{
    /* border: 1px solid black; */
    border-radius: 5px;
    width: 350px;
    padding: 10px 20px;
    margin: 10px;
    box-shadow: 0px 0px 10px  rgb(90, 89, 89);
    position: relative;
    background-color: whitesmoke;
    border-radius: 5px;
}
.foodcard:hover
{
    box-shadow: 0px 0px 5px 1px  rgba(3, 29, 25, 0.941);
    transition: box-shadow ease-in;
    /* transform: rotate(-2deg); */
    cursor: pointer;
    
}
.foodcard-title
{
    font-size: 24px;
    text-align: center;
    margin: 3px;

}
.food-card-icon{
    position:absolute;
    top: 0px;
    right: 1px;
    height:30px;
    padding: 2px;

}
.dis{
    margin: 2px;
    text-align: start;
    font-weight: 200;
   
}
.food-item-img
{

 height:160px ;
 width: 90%;
 object-fit: cover;
margin-top: 10px;
border-radius: 10px;
display: block;
margin-left: auto;
margin-right: auto;
}
.Product-price
{
    margin-top: 5px;
   text-align: center;
    font-size: 22px;
    font-weight: 900;
    color: rgb(72, 31, 110);
}
.foodcard-button
{
    background-color: transparent;
    padding:10px 20px;
    border-radius: 5px;
    border: none;
    border: 1px solid gray;
    color:gray;
    margin: 10px 20px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.foodcard-button:hover
{
    background-color: gray;
    color: whitesmoke;
    cursor: pointer;
}

